@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Mukta', sans-serif;
}

header {
    text-align: center;
    background-color: #FFC5C5;
    width: 100%;
}

div.head {
    text-align: center;
    margin: 70px;
    line-height: 30px;
}

.container {
    display: flex;
    margin: 30px;
}

.container h1 {
    text-align: center;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.container p.formula {
    text-align: center;
}

.container-perimeter, .container-area {
    width: 50%;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    margin: 20px;
  }

footer {
    text-align: center;
    background-color: #FFC5C5;
    margin-top: 20px;
}